.todo_item {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 20px;
}

.todo_checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.todo_checkbox:checked {
  background-image: radial-gradient(circle, rgb(82, 221, 163), white, green);
}
